@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

<<<<<<< HEAD

.slider {
  position:fixed;
  width: 100%;
  height: 25%;
  container {
    display: flex;
    align-items: center;
    justify-content: center;
  }


=======
.page-home {
    .highlighted-products {
        display: flex;
        gap: var.$spacing-sm;

        padding: var.$spacing-sm 0;
    }
>>>>>>> 60674727a4649e244543b4eda7969092edc92215
}